body {
background-color: rgba(0, 211, 253, 0.731);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(236, 75, 75);
}

h1 {
 color: black;

}

img {
 height: 300px;

}
