body {
    background-color: rgba(137, 137, 137, 0.513);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 112, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin: 0;
    text-align: center;
    }
    
    h1 {
     color: black;
    
    }
    
    img {
     height: 300px;
    
    }
    